[submodule "Blazr/vendor/GLFW"]
	path = Blazr/vendor/GLFW
	url = https://github.com/Chameleeon/glfw
[submodule "Blazr/vendor/spdlog"]
	path = Blazr/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Blazr/vendor/box2d"]
	path = Blazr/vendor/box2d
	url = https://github.com/erincatto/box2d.git
