[submodule "Blazr/vendor/GLFW"]
	path = Blazr/vendor/GLFW
	url = https://github.com/Chameleeon/glfw
[submodule "Blazr/vendor/spdlog"]
	path = Blazr/vendor/spdlog
	url = https://github.com/gabime/spdlog
